APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

TWITTER_STREAM_CONSUMER_KEY=XXX
TWITTER_STREAM_CONSUMER_SECRET=XXX
TWITTER_STREAM_ACCESS_TOKEN=XXX
TWITTER_STREAM_ACCESS_TOKEN_SECRET=XXX

TWITTER_API_CONSUMER_KEY=XXX
TWITTER_API_CONSUMER_SECRET=XXX
TWITTER_API_ACCESS_TOKEN=XXX
TWITTER_API_ACCESS_TOKEN_SECRET=XXX